h1{
    color:brown;
    margin-left: 30px;
}
.header{
    background-color: beige;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.index{
    background-color: cornflowerblue;
    margin-left: 500px;
    margin-right: 500px;
}

.grid{
    background-color: darkorange;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly
    
}

.footer{
    background-color: deeppink;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}

body{
    background-color: #808080;
}

a:link{ 
    color:crimson
} 

a:visited{ 
    color:crimson; 
}

.menu{
    margin-right: 30px;
}
   
.menu a{
    margin-left: 20px;
}

.item{
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate( -50%,-50% );
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}